k_size: 48
bias_add: False
dense_blocks: 4
theta: 1.0
block_size: 6
block_size: 12
block_size: 36
block_size: 24
densenet_b: False
densenet_c: False
transition_layers_bn_relu: False
dropout: True
dropout_rate: 0.8
weight_deacy: 1e-4
head_kernel_size: 7
head_stride_size: 2
head_pool_kernel_size: 3
head_pool_stride_size: 2
output_num_class: 1000
head_block_weight_initializer: 'variance_scaling_initializer'
dense_block_weights_initializer: 'variance_scaling_initializer'
pool_block_weights_initializer: 'xavier_initializer'