epoch: 300
input_config_path: '../config_files/cifar10_input_dataset.config'
densenet_config_path: '../config_files/densenet/densenet_cifar10_bc.config'
learning_rate: 0.1
weight_deacy_rate: 1e-4
summary_step: 100
test_save_step: 1000
summary_save_path: '../outputs/tensorboard/densenet_bc_cifar10_weight_deacy'
model_save_path: '../outputs/models/densenet_bc_cifar10_weight_deacy'
